[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
waitress = "*"
docker = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
flask = "*"
joblib = "*"
pickle = "*"
statsmodels = "*"
lightgbm = "*"
xgboost = "*"
matplotlib = "*"
seaborn = "*"
category-encoders = "*"
imbalanced-learn = "*"
requests = "*"
optuna = "*"
hyperopt = "*"

[dev-packages]

[requires]
python_version = "3.12"
